.landing {
  height: calc(100vh - 56px - 1rem);
  background: url("/images/landingBG.png");
  background-size: 100vw calc(100vh - 56px - 1rem);
  .btn-container {
    width: 95vw;
    .btn-land {
      color: $mutedGreen;
      border: 4px solid $mutedGreen;
      font-size: 1.5rem;
      font-weight: 400;
      background-color: transparent;
      text-decoration: none;
      padding: 0 0.5rem;
      &:hover {
        background-color: $landBtnHover;
      }
    }
  }
}
