a {
  text-decoration: none;
  color: black;
  &:hover {
    color: unset;
  }
}
.filter {
  font-size: 0.8rem;
  &:hover {
    color: $darkGreen;
  }
}
.selected {
  color: $mainGreen;
}

.listCardBorder {
  border: 2px solid $mainGreen;
}

input[type="checkbox"] {
  appearance: none;
  display: table-cell;
  height: 1.5rem;
  width: 1.5rem;
  border: 2px solid $mainGreen;
  background-color: transparent;
  font-size: 0.75rem;
  display: inline-block;
  vertical-align: middle;
  ~ span {
    padding-left: 1rem;
    display: inline-block;
    vertical-align: middle;
  }
  &:checked {
    ~ .content {
      span.taskName {
        text-decoration: line-through;
        text-decoration-color: black;
        color: $checked-text;
      }
    }
    &:after {
      content: "";
      background-image: url("/images/check.svg");
      background-size: 80% 80%;
      background-repeat: no-repeat;
      background-position: 50% 65%;
      height: 100%;
      width: 100%;
      display: inline-block;
    }
  }
}

.content {
  width: calc(75vw - 5rem);
  .taskName {
    font-weight: 500;
    font-size: 1rem;
    margin-right: 0.5rem;
  }
}

.checked-bg {
  background-color: $checked-bg;
}

.remove {
  float: right;
  .del-btn {
    all: unset;
    color: $mainGreen;
    border: none;
    background: none;
    font-weight: 100;
    font-size: large;
  }
}

.checkedForm {
  display: inline-block;
}
