@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
$roboto: "Roboto", serif;

//primary, navbar, and landing page
$bg: #f7f7f7;
$mainGreen: #adc3b6;
$darkGreen: #517470;
$darkGreenNavHover: rgba(82, 117, 113, 0.502);
$fadedGreen: #9ca89e;
$mutedGreen: #a4b1a0;
$landBtnHover: #b5c6b4;

//task
$detailsBtn: #002fff;
$high: #ffc700;
$high-text: #af9300;
$medium: #faff00;
$medium-text: #acaf00;
$low: #00ff29;
$low-text: #02af28;
$delete: #b64740;
$edit: #aaae9f;
$deadline: #80899f;
$sub-text: #6f6f6f;
$checked-bg: #ddd;
$checked-text: #9D9D9D;
