.low,
.medium,
.high,
.deadline {
  width: max-content;
  padding: 0 2%;
  font-weight: 500;
  font-size: medium;
  text-transform: capitalize;
}

.low {
  background-color: $low;
  color: $low-text;
}

.medium {
  background-color: $medium;
  color: $medium-text;
}

.high {
  background-color: $high;
  color: $high-text;
}

.deadline {
  background-color: $deadline;
  color: white;
  &:hover {
    color: white;
    cursor: default;
  }
}
