@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
.navbar {
  background-color: #adc3b6;
}

.navbar .navbar-brand {
  color: #9ca89e;
}

.navbar .navbar-brand:hover {
  color: #9ca89e;
}

.navbar .icon {
  margin-right: 0.5rem;
}

.navbar button .navbar-toggler {
  color: #517470;
}

.navbar button .navbar-toggler span .navbar-toggler-icon {
  color: #517470;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-text {
  font-weight: 400;
  padding: 0.25rem 0;
  color: #517470;
  margin-left: 1rem;
  border-bottom: 0.25rem solid transparent;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(82, 117, 113, 0.502);
  border-bottom-color: rgba(82, 117, 113, 0.502);
}

.landing {
  height: calc(100vh - 56px - 1rem);
  background: url("/images/landingBG.png");
  background-size: 100vw calc(100vh - 56px - 1rem);
}

.landing .btn-container {
  width: 95vw;
}

.landing .btn-container .btn-land {
  color: #a4b1a0;
  border: 4px solid #a4b1a0;
  font-size: 1.5rem;
  font-weight: 400;
  background-color: transparent;
  text-decoration: none;
  padding: 0 0.5rem;
}

.landing .btn-container .btn-land:hover {
  background-color: #b5c6b4;
}

.cardBorder {
  border: 5px solid #adc3b6;
  border-radius: 1rem;
}

.cardSize {
  width: 50vw;
}

.cardSize .cardImgContainer {
  width: 100%;
}

.cardSize .cardImgContainer .cardImg {
  display: block;
  height: 25vh;
  margin: 2.5rem auto;
}

.submit-btn {
  background: #adc3b6;
  color: white;
  font-weight: 500;
}

.submit-btn:hover {
  color: white;
  background: #a4b1a0;
}

.req-asterik:after {
  color: red;
  content: "*";
}

.back {
  text-decoration: none;
  color: #517470;
}

.desc-text {
  color: #6f6f6f;
}

.edit-btn,
.delete-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  font-weight: 500;
}

.edit-btn {
  background-color: #aaae9f;
}

.delete-btn {
  background-color: #b64740;
}

.detailCardSize {
  width: 75vw;
}

.taskColor {
  color: #517470;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: unset;
}

.filter {
  font-size: 0.8rem;
}

.filter:hover {
  color: #517470;
}

.selected {
  color: #adc3b6;
}

.listCardBorder {
  border: 2px solid #adc3b6;
}

input[type="checkbox"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: table-cell;
  height: 1.5rem;
  width: 1.5rem;
  border: 2px solid #adc3b6;
  background-color: transparent;
  font-size: 0.75rem;
  display: inline-block;
  vertical-align: middle;
}

input[type="checkbox"] ~ span {
  padding-left: 1rem;
  display: inline-block;
  vertical-align: middle;
}

input[type="checkbox"]:checked ~ .content span.taskName {
  text-decoration: line-through;
  -webkit-text-decoration-color: black;
          text-decoration-color: black;
  color: #9D9D9D;
}

input[type="checkbox"]:checked:after {
  content: "";
  background-image: url("/images/check.svg");
  background-size: 80% 80%;
  background-repeat: no-repeat;
  background-position: 50% 65%;
  height: 100%;
  width: 100%;
  display: inline-block;
}

.content {
  width: calc(75vw - 5rem);
}

.content .taskName {
  font-weight: 500;
  font-size: 1rem;
  margin-right: 0.5rem;
}

.checked-bg {
  background-color: #ddd;
}

.remove {
  float: right;
}

.remove .del-btn {
  all: unset;
  color: #adc3b6;
  border: none;
  background: none;
  font-weight: 100;
  font-size: large;
}

.checkedForm {
  display: inline-block;
}

.low,
.medium,
.high,
.deadline {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 2%;
  font-weight: 500;
  font-size: medium;
  text-transform: capitalize;
}

.low {
  background-color: #00ff29;
  color: #02af28;
}

.medium {
  background-color: #faff00;
  color: #acaf00;
}

.high {
  background-color: #ffc700;
  color: #af9300;
}

.deadline {
  background-color: #80899f;
  color: white;
}

.deadline:hover {
  color: white;
  cursor: default;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

#polygon {
  -webkit-animation: spin 8000ms linear infinite;
          animation: spin 8000ms linear infinite;
  display: block;
  margin: 0 auto;
  height: 90%;
}

.titleText {
  position: absolute;
  text-align: center;
}

.containerAnimate {
  height: 70vh;
}

body {
  background-color: #f7f7f7;
  font-family: "Roboto", serif;
}
/*# sourceMappingURL=styles.css.map */