<% layout('layout/boilerplate')%>
    <div class="container d-flex flex-column justify-content-center align-items-center">
        <div class="containerAnimate mt-5">
            <img id="polygon" src="/images/404.png"></img>
        </div>
        <h2 class="titleText taskColor">404 PAGE NOT FOUND</h2>
        <h5 class="taskColor">The page that you're looking for does not exist...</h5>
    </div>